.main {}
hl {background:lightgreen}
hl[n="0"] {background:pink}
.row {
    width:99.99%;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.sourcepage:hover {text-decoration:underline;color:blue;cursor: pointer}


.resultitem{font-size:150%;}